*,
body {
    color: #eee;
}
body {
    margin: 0px;
    background-color: #27313b;
}

a {
    font-weight: bold;
    color: #ddd;
}

table tr td:first-child {
    font-weight: bold;
    font-size: 18px;
}

table tr {
    padding: 5px 0px;
}

table tr td:nth-child(2) {
    font-size: 14px;
}

table th {
    font-size: 20px
}

table {
    width: 100%;
    display: table;
    border-spacing: 0px;
}

table tr:nth-child(2n) td,
table tr th,
table tr th span {
    background-color: #3b4550;
}

h1 {
    font-size: 2.5em
}

h1, h2, h3, h4, h5, h6, table th, table td, table tr {
    border: 0px solid #fff;
    text-align: center;
    font-family: 'Cairo';
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    table th {
        font-size: 18px
    }

    table th,
    table td {
        padding: 3px 2px;
    }
}