*,
body {
    color: #eee;
    background-color: #27313b;
}

body {
    margin: 0px
}

a {
    font-weight: bold;
    color: #ddd;
}

table tr td:first-child {
    font-weight: bold;
    font-size: 18px;
}

table tr td:nth-child(2) {
    font-size: 14px;
}

.px-3 {
    padding: 0px !important
}

.my-5 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

table th {
    font-size: 20px
}

table {
    width: 100%;
    display: table;
}

table tr:nth-child(2n) td,
table tr th,
table tr th span {
    background-color: #3b4550;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

h1 {
    font-size: 2.5em
}

h1,
h2,
h3,
h4,
h5,
h6,
table th,
table td,
table tr {
    border: 0px solid #fff;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    table th {
        font-size: 18px
    }

    table th,
    table td {
        padding: 3px 2px;
    }
}